* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #8fc0a9;
  font-family: "Macondo", cursive;
  font-family: "Merienda", cursive;
}

img {
  width: 330px;
  height: 185px;
  margin-top: 12px;
}

#flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 24px;
  padding: 16px;
  text-align: center;
  background-color: darkgoldenrod;
}

.marka {
  width: 360px;
  background-image: conic-gradient(red, yellow, green, red);
  transition: 1s;
}

.marka:hover {
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}

.marka h2 {
  border: 2px solid white;
  border-radius: 24px;
  width: 240px;
  margin-left: 60px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 12px;
}

.marka h2:hover {
  background-color: #f1f6f5;
  color: #4b56d2;
}

#header {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #68b0ab,
    #8fc0a9,
    #c8d5b9,
    #faf3dd
  );
  height: 64px;
  line-height: 64px;
}
#button {
  display: flex;
  background-color: #4b56d2;
  justify-content: center;
}
.bas {
  width: 144px;
  height: 32px;
  font-size: 20px;
  margin-right: 10%;
  border-radius: 16px;
  background-color: #68b0ab;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
}
a {
  text-decoration: none;
  color: #f1f6f5;
  font-family: "Macondo", cursive;
  font-family: "Merienda", cursive;
}
#bilgiler {
  display: flex;
  background-color: #faf3dd;
  justify-content: space-around;
  padding-bottom: 12px;
  /* visibility: hidden; */
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 120px;
}
ul {
  list-style: none;
}
.bilgi h2 {
  border: 1px solid #faf3dd;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 24px;
  background-color: #68b0ab;
  text-align: center;
  width: 180px;
  margin-left: 60px;
}
.bas:hover {
  transition: 0.5s;
  background-color: #4b56d2;
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}
